# Cohort Study: Seat Belts and Children's Safety in Car Accidents

## Set the Notebook

In [1]:
# import the libraries
from __future__ import annotations
from opyn.stats import tables
import numpy as np
# set the precison of return floats
%precision 6

'%.6f'

## Introduction

The aim of this study is to analyse whether there is an association between children not wearing a seatbelt (the *exposure*) and the sustaining at least moderately severe injuries (the *disease*) as a result of being involved in serious accidents.

> *Data were obtained on 85 children aged from 4-14 years sitting in the left-hand back seat of cars (so behind the driver) involved in serious accidents.*
> 
> *The numbers sustaining at least moderately severe injury among children who were wearing seat belts at the time of the accident and among children who were not wearing seat belts were counted.*
>
> ***M269, Open University***

The data was provided by *M249* *(Open University, 2021)* *M249*, who in turn sourced it from Halman, I., Chipman, M., Parkin, P.C. and Wright, J.G. *(British Medical Journal, 2002).*

## Method

The analysis follows that as summarised in M26 Book 1, Part 1.

The data was first plotted as a comaparative bar char and summarised.
Following this, given the nature of the data, a contingency table was used to perform an analysis on the strenght of association.
An estimate of the odds ratio and a 99% **z**-interval for the odds ratio was calculated, after considerations on whether the two exposure groups were independent.

The expected frequencies under a null hypothesis of no association were checked to be all greater than or equal to five, and **chi-sqaured** test of no association was used to test the null hypothesis of no association betwen the exposure and the disease.

In [2]:
# load the data
seatbelts: tables.ContingencyTable = (
    tables.ContingencyTable(np.array([[14, 19], [13, 39]]))
)

In [3]:
# labels used for DataFrame outputs
seatbelts.row_labels = ["Not wearing a seat belt", "Wearing a seat belt"]
seatbelts.col_labels = ["Disease", "No disease"]

## Results

### Inspecting the Data

The data is shown below, along with a comparative bar chart.

In [4]:
seatbelts.show_table(incl_row_totals=True)

Disease Category         Disease  No disease  Total
Exposed Category
Not wearing a seat belt       14          19     33
Wearing a seat belt           13          39     52

*Add comment*

### Measures of Association

*Add comment on independence of exposure groups.*

An estimate of the relative risk was found to be approximately 1.70, with 99% confidence interval (0.76, 3.81).

In [5]:
seatbelts.relative_risk()

RelativeRisk(point=1.696970, zconfint={lower=0.916424, upper=3.142331})

The odds of event $OD(D|E)$ and $OD(D | Not E)$ are estimated to be

In [6]:
seatbelts.conditional_odds()

OddsDisease(given_e=0.736842, given_not_e=0.333333)

An estimate of the odds ratio was found to be approximately 2.21, with 99% confidence interval (0.65, 7.53).

In [7]:
seatbelts.odds_ratio()

OddsRatio(point=2.210526, zconfint={lower=0.869522, upper=5.619669})

*Add comment on relative risk, odds of conditional events and odds ratio.*

### Chi-sqaured Test of No Association

In [8]:
seatbelts.expected_freq(incl_row_totals=True)

Disease Category           Disease  No disease  Total
Exposed Category
Not wearing a seat belt  10.482353   22.517647   33.0
Wearing a seat belt      16.517647   35.482353   52.0

In [9]:
seatbelts.chi2_contribs()

Disease Category          Disease  No disease
Exposed Category
Not wearing a seat belt  1.180445    0.549517
Wearing a seat belt      0.749129    0.348732

In [10]:
seatbelts.chi2_test()

ChiSqTest(chisq=2.827823, pval=0.092644, df=1)

*Add comment on chi-squared test.*