# Case-Control Study: Alcohol Consumption and Fatal Car Accidents

## Set the Notebook

In [1]:
# import the libraries
from __future__ import annotations
from opyn.stats.tables import ContingencyTable
# set the precison of return floats
%precision 6

'%.6f'

## Introduction

## Method

The analysis follows that as summarised in M26 Book 1, Part 1.

The data was first summarised in a contingency table.

Following this, given the nature of the data, a contingency table was used to perform an analysis on the strenght of association.
An estimate of the odds ratio and a 99% **z**-interval for the odds ratio was calculated, after considerations on whether the two exposure groups were independent.

The expected frequencies under a null hypothesis of no association were checked to be all greater than or equal to five, and **chi-sqaured** test of no association was used to test the null hypothesis of no association betwen the exposure and the disease.

In [2]:
# initialise the object
alcohol_carcrash = ContingencyTable([[14, 8], [10, 146]])

In [3]:
# labels used for DataFrame outputs
alcohol_carcrash.row_labels = (
    ["Alcohol levels >= 100mg%", "Alcohol levels < 100mg%"]
)
alcohol_carcrash.col_labels = ["Cases", "Controls"]

## Results

### Inspecting the Data

The data is shown below, along with a comparative bar chart.

In [10]:
alcohol_carcrash.show_table(incl_col_totals=True)

Disease Category          Cases  Controls
Exposed Category
Alcohol levels < 100mg%      10       146
Alcohol levels >= 100mg%     14         8
Total                        24       154

*Add comment*

### Measures of Association

*Add comment on independence of exposure groups.*

In [9]:
alcohol_carcrash.conditional_odds()

OddsDisease(given_e=1.750000, given_not_e=0.068493)

An estimate of the odds ratio $\widehat{OR}$ was found to be approximately 3.96, with 99% confidence interval (1.81, 8.67).

In [5]:
# odds ratio, on front
alcohol_carcrash.odds_ratio(0.01)

OddsRatio(point=25.550000, zconfint={lower=6.184900, upper=105.547787})

*Add comment*

### Chi-squared Test of No Association

In [6]:
alcohol_carcrash.expected_freq(incl_col_totals=True)

Disease Category              Cases    Controls
Exposed Category
Alcohol levels < 100mg%   21.033708  134.966292
Alcohol levels >= 100mg%   2.966292   19.033708
Total                     24.000000  154.000000

In [7]:
alcohol_carcrash.chi2_contribs()

Disease Category              Cases  Controls
Exposed Category
Alcohol levels < 100mg%    5.787981  0.902023
Alcohol levels >= 100mg%  41.042050  6.396164

In [8]:
alcohol_carcrash.chi2_test()

ChiSqTest(chisq=54.128218, pval=0.000000, df=1)