# Case-Control Study: Sleeping Position and Sudden Infant Death Syndrome

## Set the Notebook

In [1]:
# import the libraries
from __future__ import annotations
from opyn.stats.tables import MultipleExposures
# set the precison of return floats
%precision 6

'%.6f'

## Introduction

## Method

The analysis follows that as summarised in M26 Book 1, Part 1.

The data was first plotted as a comaparative bar char and summarised.


Following this, given the nature of the data, a contingency table was used to perform an analysis on the strenght of association.
To perform the analysis, we selected the group including babies who slept on their side as the reference category.
This was an arbitrary choice, as it seemed like a natural choice between sleeping on one's back and on one's front.
An estimate of the odds ratio and a 99% **z**-interval for the odds ratio was calculated in relation to the reference category, after considerations on whether the two exposure groups were independent.

The expected frequencies under a null hypothesis of no association were checked to be all greater than or equal to five, and **chi-sqaured** test of no association was used to test the null hypothesis of no association betwen the exposure and the disease.

In [2]:
# initialise the data
e1 = [30, 24]  # on front
e2 = [82, 509]  # on back
ref = [76, 241]  # on side

In [3]:
# load the object
sids = MultipleExposures(exposure1=e1, exposure2=e2, reference=ref)

In [4]:
# labels used for DataFrame outputs
sids.exposure1_label = "Slept on Front"
sids.exposure2_label = "Slept on Back"
sids.reference_label = "Slept on Side (Ref)"

## Results

### Inspecting the Data

The data is shown below, along with a comparative bar chart.

In [5]:
sids.show_table(incl_col_totals=True)

Disease Category     Disease  No Disease
Exposed Category
Slept on Back             82         509
Slept on Front            30          24
Slept on Side (Ref)       76         241
Total                    188         774

*Add comment*

### Measures of Association

*Add comment on independence of exposure groups.*

An estimate of the odds ratio $\widehat{OR}_{\text{Back}}$ was found to be approximately 3.96, with 99% confidence interval (1.81, 8.67).

In [6]:
sids.table1.conditional_odds()

OddsDiseaseExposure(OD(D|E)=1.250000, OD(D|Not E)=0.315353)

In [7]:
# odds ratio, on front
sids.table1.odds_ratio(0.01)

OddsRatio(point=3.963816, zconfint={lower=1.812335, upper=8.669390})

An estimate of the odds ratio $\widehat{OR}_{\text{Front}}$ was found to be approximately 0.51, with 99% confidence interval (0.32, 0.81).

In [8]:
sids.table2.conditional_odds()

OddsDiseaseExposure(OD(D|E)=0.161100, OD(D|Not E)=0.315353)

In [9]:
# odds ratio, on back
sids.table2.odds_ratio(0.01)

OddsRatio(point=0.510857, zconfint={lower=0.323489, upper=0.806751})

*Add comment*

### Chi-squared Test of No Association

In [10]:
sids.expected_freq(incl_col_totals=True)

Disease Category        Disease  No Disease
Exposed Category
Slept on Back        115.496881  475.503119
Slept on Front        10.553015   43.446985
Slept on Side (Ref)   61.950104  255.049896
Total                188.000000  774.000000

In [11]:
sids.chi2_contribs()

Disease Category       Disease  No Disease
Exposed Category
Slept on Back         9.714904    2.359692
Slept on Front       35.836702    8.704522
Slept on Side (Ref)   3.186429    0.773965

In [12]:
sids.chi2_test()

ChiSqTest(chisq=60.576214, pval=0.000000, df=2)