# 1-1 Matched Case-Control: Contraceptives and Blood Clots

## Summary

## Introduction

## Analysis

In [1]:
from opyn.generic.pandasloader import PandasLoader
from opyn.stats import epidemeology as epyn
from pandas.api.types import CategoricalDtype

### Load the data

In [2]:
f = "contraceptive"
pdloader = PandasLoader()
# pdloader.get_description(f)

In [3]:
dat = pdloader.get(f)
dat

   count        cases     controls
0     10      exposed      exposed
1     57      exposed  not exposed
2     13  not exposed      exposed
3     95  not exposed  not exposed

Copy the dataframe to preserve the immutable nature of the data, and then recode the `cases`, `controls` columns as ordered categorical data.

In [4]:
copieddat = dat.copy(deep=True)
cats = CategoricalDtype(["not exposed", "exposed"], True)
copieddat["cases"] = copieddat["cases"].astype(cats)
copieddat["controls"] = copieddat["controls"].astype(cats)

Sort the dataframe to ensure the data is as expected.

In [5]:
sorteddat = copieddat.sort_values(by=["cases", "controls"])
sorteddat

   count        cases     controls
3     95  not exposed  not exposed
2     13  not exposed      exposed
1     57      exposed  not exposed
0     10      exposed      exposed

Extract the `count` column as a `2x2` `ndarray`.

In [6]:
resarr = sorteddat["count"].to_numpy().reshape((2, 2))
resarr

array([[95, 13],
       [57, 10]], dtype=int64)

### Odds ratio

In [7]:
epyn.matched_oddsratio(resarr)

        oddsratio    stderr      lcb       ucb
result   4.384615  0.307355  2.40055  8.008521

### McNemar's test

In [8]:
epyn.mcnemar(resarr)

            chisq          pval
result  26.414286  2.754954e-07