# Dose-Response Analysis: PTSD amongst US Gulf War Veterans

## Summary

## Introduction

## Analysis

In [1]:
from opyn.generic.pandasloader import PandasLoader
from opyn.stats import epidemeology as epyn
from pandas.api.types import CategoricalDtype
import numpy as np

### Load the data

In [2]:
f = "gulfdose"
pdloader = PandasLoader()
# pdloader.get_description(f)

In [3]:
dat = pdloader.get(f)
dat

    count         dose  outcome
0     174      extreme     ptsd
1     595      extreme  no ptsd
2     260  very severe     ptsd
3    1155  very severe  no ptsd
4     362       severe     ptsd
5    2688       severe  no ptsd
6      97         high     ptsd
7    1286         high  no ptsd
8     180     moderate     ptsd
9    2783     moderate  no ptsd
10     95      minimal     ptsd
11   2749      minimal  no ptsd

Copy the dataframe to preserve the immutable nature of the data, and then recode the `exposure`, `outcome`, and `level` columns as ordered categorical data.

In [4]:
copieddat = dat.copy(deep=True)
doses = ["minimal", "moderate", "high", "severe", "very severe", "extreme"]
catdoses = CategoricalDtype(doses, True)
catoutcomes = CategoricalDtype(["no ptsd", "ptsd"], True)
copieddat["dose"] = copieddat["dose"].astype(catdoses)
copieddat["outcome"] = copieddat["outcome"].astype(catoutcomes)

Sort the dataframe to ensure the data is as expected.

In [5]:
sorteddat = copieddat.sort_values(by=["dose", "outcome"])
sorteddat

    count         dose  outcome
11   2749      minimal  no ptsd
10     95      minimal     ptsd
9    2783     moderate  no ptsd
8     180     moderate     ptsd
7    1286         high  no ptsd
6      97         high     ptsd
5    2688       severe  no ptsd
4     362       severe     ptsd
3    1155  very severe  no ptsd
2     260  very severe     ptsd
1     595      extreme  no ptsd
0     174      extreme     ptsd

Extract the `count` column as a `2x2x2` `ndarray`.

In [6]:
resarr = sorteddat["count"].to_numpy().reshape((6, 2))
resarr

array([[2749,   95],
       [2783,  180],
       [1286,   97],
       [2688,  362],
       [1155,  260],
       [ 595,  174]], dtype=int64)

### Dose-specific odds ratio

In [7]:
epyn.oddsratio(resarr)

             oddsratio    stderr     lower      upper
Exposed1 (-)       1.0       0.0        NA         NA
Exposed2 (+)  1.871589  0.129634  1.451663   2.412987
Exposed3 (+)  2.182639  0.148246  1.632279   2.918565
Exposed4 (+)     3.897  0.118425  3.089774   4.915121
Exposed5 (+)  6.513921  0.124908  5.099417   8.320789
Exposed6 (+)  8.462203  0.135344  6.490509  11.032859

### Dose-specific odds

In [8]:
# epyn.doseexposure_odds(resarr)

### Chi-squared test of no linear trend

In [10]:
epyn.chisq_lineartrend(resarr)

               r       chisq          pval
result  0.187479  436.650463  5.800172e-97

## Discussion